* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playwrite CU", cursive;
  overflow-x: hidden;
}
#shop {
  height: 100%;
  /*background-color:#e4e2e2 #FFFFFF;*/
  background-color: rgb(207, 38, 120);
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.container {
  margin: 0 7rem;
  height: 100%;
}
a {
  text-decoration: none;
  font-size: 14px;
  
  border-radius: 30px;
  transition: all 1s;
}
a:hover {
  background-color: transparent;
  color: gold;
  border: 1px solid gold;
}
ul {
  list-style: none;
}
nav .logo {
  width: 60px;
  /*box-shadow: 70px 80px 20px rgb(238, 28, 63);*/
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: black;
  padding: 20px;
}
#shop .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua;*/
  height: 80%;
}
#shop .content img {
  width: 450px;
  animation: animation1 3s ease-out;
}

.content-text h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
span {
  font-size: 60px;
  text-shadow: 5px 5px 20px slateblue;
  color: aqua;
}
P {
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.4;
  width: 80%;
}
.ptn {
  font-size: 14px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border-radius: 30px;
  transition: all 1s;
}
.ptn:hover {
  background-color: transparent;
  color: aqua;
  border: 1px solid aqua;
}
.social {
  margin-left: 3rem;
  animation: animation1 4s ease-out;
}
.fb {
  color: aqua;
}
.insta {
  color: gold;
}
.tag {
  color: whitesmoke;
}
.social i {
  font-size: 25px;
  margin: 10px 0;
}
.Hoodie-types {
  width: 200px;
  /* background-color:  rgb(207, 38, 120);*/
  display: block;
  margin: auto;
  animation: animation2 2s ease-out;
}
@keyframes animation1 {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animation2 {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Tablet */
@media (max-width: 1000px) {
  .container {
    margin: 0 1rem;
  }
  nav ul a {
    padding: 10px;
  }
}
